<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">

<!--<head>-->
    <!--<title>View All Pasien</title>-->
    <!--<object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
    <!--<object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
<!--</head>-->

<body>
<!--<nav th:replace="fragments/fragment :: navbar (pageTitle='View All')"></nav>-->
<h2 style="text-align:center">Sistem Informasi Pasien</h2>
<button class ="btn btn-primary">
    <a th:href="@{pasien/tambah}" style="color: white">Tambah Pasien Baru</a>
</button>
<h2>Daftar Pasien</h2>

<div class="container-fluid" align="center">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Nik</th>
            <th scope="col">Jenis Kelamin</th>
            <th scope="col">Kode Pasien</th>
            <th scope="col">Tempat Lahir</th>
            <th scope="col">Tanggal Lahir</th>
            <th scope="col">Telepon Emergency Contact</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${pasien}" th:each="pasien, iterationStatus : *{listPasien }">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${pasien.nama}" th:value="${pasien.nama}" ></td>
            <td th:text="${pasien.nik}"></td>
            <td th:text="${pasien.jenisKelamin} == 1 ? 'Laki-laki' : 'Perempuan'"></td>
            <td th:text="${pasien.uniqueCode}"></td>
            <td th:text="${pasien.tempatLahir}"></td>
            <td th:text="${pasien.tanggalLahir}"></td>
            <td th:text="${pasien.getNoHpContact(listContact)}"></td>


            <!--<form th:action="@{/restoran/view}" method="GET">-->
                <!--<label for="idRestoran">Id Restoran</label>-->
                <!--<input type="text" name="idRestoran" class="form-control"/>-->
                <!--<br>-->
                <!--<button class="btn btn-primary" type="submit"> Cari </button>-->
            <!--</form>-->

            <!--<div class="col-sm-2" >-->
                <!--<a th:href="@{/pasien}" method="GET">-->
                    <!--<button type="button" class="btn btn-secondary" th:value="pasien.nik" th:name="pasien.nik" for="nik">Lihat</button>-->
                <!--</a>-->
            <!--</div>-->

            <form th:action="@{/pasien}" method ="GET">
                <button  th:name="nik" th:value="${pasien.nik}">Lihat</button>
            </form>


            <div class="col-sm-2" >
                <a th:href="@{/pasien/hapus/} + ${pasien.idPasien}">
                    <button type="button" class="btn btn-secondary">Hapus</button>
                </a>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>