<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<nav th:replace="fragments/fragment :: navbar (pageTitle='Add Pasien')"></nav>


<div class="container-fluid">
    <h3 th:text="'Sistem Informasi Pasien'"  align="center" style="padding-top: 30px"></h3>
    <br>
    <h3 style="background-color: #343a40; color: white">Tambah Pasien</h3>
    <form th:action="@{/pasien/tambah}" th:object="${pasien}" method="POST" style="margin-left: 20px">
        <table >
            <tr>
                <th scope="col">Nama</th>
                <td>
                    <input class="form-control" type="text" name="nama" style="width: 400px; height: 50px;" th:field="${pasien.nama}"/>
                </td>
            </tr>
            <tr>
                <th scope="col">NIK</th>
                <td>
                    <input class="form-control" type="text" name="nik" style="width: 400px; height: 50px;" th:field="${pasien.nik}" />
                </td>
            </tr>
            <tr>
                <th scope="col">Jenis Kelamin</th>
                <td>
                    <select th:field="*{jenisKelamin}" class="form-control">
                        <option th:value="1" th:text="Laki-laki"></option>
                        <option th:value="2" th:text="Perempuan"></option>
                    </select>
            </tr>

            <tr>
                <th scope="col">Tanggal Lahir</th>
                <td>
                    <input class="form-control" type="date" name="tanggalLahir" style="width: 400px; height: 50px;" th:field="${pasien.tanggalLahir}" th:value="${pasien.tanggalLahir}" id="tanggalLahir"/>
                </td>
            </tr>
            <tr>
                <th scope="col">Tempat Lahir</th>
                <td>
                    <input class="form-control" type="text" name="tempatLahir" style="width: 400px; height: 50px;" th:field="${pasien.tempatLahir}"/>
                </td>
            </tr>

            <script>
                $(document).ready(function(){
                    $('#buttonToAddDD').click(function(){
                    $("#dd1").append($("#dd2").clone());
                    });
                });
            </script>

            <tr id="dd">
                <th scope="col">Asuransi</th>
                <br>
                <td id="dd1">
                    <div id="dd2">
                        <select class="form-control" th:field="*{idAsuransi}"  id="dropdownList" name="idAsuransi" style="width:100%">
                            <option value="0">Pilih Asuransi</option>
                            <option th:each="asuransi : ${listAsuransi}" th:value="${asuransi.idAsuransi}" th:text="${asuransi.nama}"></option>
                        </select>
                    </div>
                </td>
                <br>
            </tr>

            <tr>
                <th scope="col"></th>
                <td>
                    <input class="btn btn-primary" type="button" id="buttonToAddDD" value="Tambah Asuransi" />
                </td>
            </tr>

            <tr>
                <th scope="col">Emergency Contact Name</th>
                <td>
                    <input class="form-control" type="text" name="idEmergencyContact" style="width: 400px; height: 50px;"/>
                </td>
            </tr>
            <tr>
                <th scope="col">Emergency Contact NIK</th>
                <td>
                    <input class="form-control" type="text" name="idEmergencyContact" style="width: 400px; height: 50px;"/>
                </td>
            </tr>
            <tr>
                <th scope="col">Emergency Contact Phone Number</th>
                <td>
                    <input class="form-control" type="number" name="idEmergencyContact" style="width: 400px; height: 50px;"/>
                </td>
            </tr>

        </table>

        <!--<button type="submit" class="btn btn-primary" name="addRow">Add Row</button>-->
        <button type="submit" class="btn btn-primary" name="save"> Submit </button>

        <br>
        <br>



    </form>
</div>
</body>
</html>