<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <!--<title>Tambah Pasien</title>-->
    <!--<object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
    <!--<object th:include="fragments/fragment :: js" th:remove="tag"></object>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>




<body>
<!--<nav th:replace="fragments/fragment :: navbar (pageTitle='Add Pasien')"></nav>-->

<h3>Tambah Pasien</h3>
<form th:action="@{/pasien/tambah}" th:object="${pasien}" method="POST">
    Nama: <br>
    <input type="text" name="nama" />
    <br>
    NIK: <br>
    <input type="text" name="nik" />
    <br>
    Jenis Kelamin: <br>
    <select th:field="*{jenisKelamin}">
        <option th:value="1" th:text="Laki-laki"></option>
        <option th:value="2" th:text="Perempuan"></option>
    </select>
    <br>
    Tanggal Lahir: <br>
        <input type="date" th:value="${pasien.tanggalLahir}" th:field="${pasien.tanggalLahir}" id="tanggalLahir"/>
    <br>
    Tempat Lahir: <br>
    <input type="text" name="tempatLahir" />
    <br>


    <script>
        $(document).ready(function(){
            $('#buttonToAddDD').click(function(){
                $("#dd1").append($("#dd2").clone());
            });
        });
    </script>
    Asuransi: <br>
    <div id="dd1">
        <div id="dd2">
            <select th:field="${listAsuransi}"  id="dropdownList" name="listAsuransi">
                <option value="0">Pilih Asuransi</option>
                <option th:each="asuransi : ${listAsuransi}" th:value="${asuransi}" th:text="${asuransi.nama}"></option>
            </select>

        </div>
        <input type="button" id="buttonToAddDD" value="Tambah Asuransi" />
    </div>

    <br>
    Emergency Contact Name: <br>
    <input type="text" name="idEmergencyContact" />
    <br>
    Emergency Contact NIK: <br>
    <input type="text" name="idEmergencyContact" />
    <br>
    Emergency Contact Phone: <br>
    <input type="number" name="idEmergencyContact" />
    <br>


    <button class="btn btn-primary" type="submit">Submit</button>
</form>

</body>
</html>