<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head >
    <meta charset="UTF-8">
    <title>View Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (pageTitle='View Pasien')"></nav>
<div class="container-fluid">

    <div class="container" align="center" style="padding-top: 30px">
        <h3>Detail Data Pasien</h3>
        <a th:href="@{/}" style="color: white">Kembali ke Beranda</a>

        <table class="table">
            <tr>
                <th scope="col">Nama Pasien</th>
                <td th:text="${pasien.nama}"></td>
            </tr>
            <tr>
                <th scope="col">NIK</th>
                <td th:text="${pasien.nik}"></td>
            </tr>
            <tr>
                <th scope="col">Kode</th>
                <td th:text="${pasien.uniqueCode}"></td>
            </tr>
            <tr>
                <th scope="col">Jenis Kelamin</th>
                <td th:text="${pasien.jenisKelamin} == 1 ? 'Laki-laki' : 'Perempuan'"></td>
            </tr>
            <tr>
                <th scope="col">Tanggal Lahir</th>
                <td th:text="${pasien.tanggalLahir}"></td>
            </tr>
            <tr>
                <th scope="col">Tempat Lahir</th>
                <td th:text="${pasien.tempatLahir}"</td>
            </tr>
            <tr>
                <th scope="col">Emergency Contact</th>
                <td th:text="${emergencyContact.nama} + ' - ' + ${emergencyContact.nik} + ' - ' + ${emergencyContact.noHp}"></td>
            </tr>
        </table>
    </div>

    <div class="container" align="center" style="padding-top: 30px">
        <h3>Asuransi Milik Pasien</h3>
        <table class="table">
            <tr>
                <th scope="col">Supplier</th>
                <td th:each="asuransi, iterationStatus : *{listAsuransi }">
                    <p th:text="${iterationStatus.count}"></p>
                    <p th:text="${asuransi.nama}" th:value="${asuransi.nama}" ></p>
                </td>
            </tr>
        </table>
    </div>
    <br>
</div>
</body>
</html>